# Python
__pycache__/
*.py[cod]
*.pyd
.Python
venv/
.venv/

# Environment variables
.env
.env.*
!.env.example

# Django
db.sqlite3
media/
staticfiles/

# React / Node.js
node_modules/
dist/
.vite/

# Testing and coverage
/test.py
.coverage
htmlcov/
.pytest_cache/
.pytest_cache/

# IDE
.idea/
.vscode/

# Operating system
.DS_Store
Thumbs.db
Desktop.ini

# Personal learning materials
my-learning/